{{#extends 'base'}}

{{#block "content"}}
<h1>Create New Actor</h1>
<form method="POST">
    <div>
        <label>First Name</label>
        <input type="text" name="first_name" class="form-control"/>
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="last_name" class="form-control"/>
    </div>
    <input type="submit" class="btn btn-primary my-3"/>
</form>
{{/block}}

{{/extends}}