{{#extends 'base'}}

{{#block 'content'}}
<form method="POST">
    <div>
        <label>Title:</label>
        <input type="text" name="title" class="form-control">
    </div>
    <div>
        <label>Description:</label>
        <textarea name="description" class="form-control"></textarea>
    </div>
    <div>
        <label>Language:</label>
        <select name="language_id" class="form-control">
            {{#each languages}}
                <option value="{{this.language_id}}">
                    {{this.name}}
                </option>
            {{/each}}
        </select>
    </div>
    <input type="submit" class="btn btn-primary my-3"/>
</form>

{{/block}}

{{/extends}}