{{#extends 'base'}}

{{#block 'content'}}
<h1>Create New Customer</h1>
<form method="POST">
    <div>
        <label>Store:</label>
        <select name="store_id" class="form-control">
            {{#each stores}}
            <option value="{{this.store_id}}">{{this.address}}</option>
            {{/each}}
        </select>
    </div>
    <div>
        <label>First Name:</label>
        <input type="text" class="form-control" name="first_name"/>
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" class="form-control" name="last_name"/>
    </div>
    <div>
        <label>Email:</label>
        <input type="text" class="form-control" name="email"/>
    </div>
    <div>
        <label>Address:</label>
        <input type="text" class="form-control" name="address"/>
    </div>
    <div>
        <label>District:</label>
        <input type="text" class="form-control" name="district"/>
    </div>
    <div>
        <label>Phone Number:</label>
        <input type="text" class="form-control" name="phone"/>
    </div>
    <div>
        <label>City</label>
        <select class="form-control" name="city_id">
            {{#each cities}}
                <option value="{{this.city_id}}">{{this.city}}</option>
            {{/each}}
        </select>
    </div>
    <input type="submit" class="btn btn-primary"/>
</form>
{{/block}}

{{/extends}}