{{#extends 'base'}}

{{#block "content"}}
<form method="GET">
    <div>
        <label>First Name:</label>
        <input type="text" name="first_name" class="form-control"/>
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="last_name" class="form-control"/>
    </div>
    <input type="submit" class="btn btn-primary my-3"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Actor ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    {{#each actors}}
        <tr>
            <td>{{this.actor_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
        </tr>
    {{/each}}

</table>
{{/block}}

{{/extends}}