{{#extends 'base'}}

{{#block "content"}}
<table class="table">
    <thead>
        <tr>
            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>email</th>
        </tr>
    </thead>
    {{#each staff}}
        <tr>
            <td>{{this.staff_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
        </tr>
    {{/each}}

</table>
{{/block}}

{{/extends}}